@charset "UTF-8";
@font-face{
    font-family: android;
    src: url(fontes/idroid.otf);
}
@font-face{
    font-family: titulo;
    src: url(fontes/titulo.otf);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #82D9A0;
    font-family: sans-serif;
    margin: -40.8px 0px;       
}

header{
    background-image: linear-gradient(0deg, #1B5936, #82D9A0);
    color: white; 
    box-shadow: 1px 1px rgba(0, 0, 0, 0.349); 
    text-align: center; 
    padding-top: 70px;
    height: 280px;
}

header > h1{
    font-family: titulo;
    text-align: center;
    font-weight: lighter;
    font-size: 4em; 
    
}

a{
    color: white;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav{
    background-color: #1B5936;
    height: 30px;
    width: 100vw;
    color: #82D9A0;
}

nav > a {
    padding: 10px 15px;
    border-radius: 5px;
    transition-duration: 2s;
}

a:hover{
    background-color: #053318;
    color: #82D9A0;
    
} 

header > p{

    padding-top: 25px;
    text-align: center;
}


h1, h2{
    font-family: android;
    color: #1B5936;
    padding-left: 10px;    
}

h2{
    background-image: linear-gradient(to right, #82D9A0, transparent);
}

#titulo_principal{
    color: white;
}



#video{
    background-color: #1B5936;
    margin: 0px -15px 10px -15px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
    text-align: center;
}

#video > iframe {
    top: 3%;
    left: 3.9%;
    height: 92.4%;
    width: 92.2%;
    position: absolute;
}

main{
    background-color: white;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.349);  
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    max-width: 700px;
    min-width: 450px;
    padding: 0px 15px 15px 15px;
    margin: auto;
    margin-bottom: 15px;    
}

main img {
    width: 100%;
    margin: auto;
}


p{
    text-align: justify;
    text-indent: 20px;
    padding-bottom: 20px;
}

#extra{
    background-color: #82D9A0;
    text-align: left;
    border-radius: 12px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.349);
    
}

main ul{
    list-style-type: none;
    columns: 2;
    margin-bottom: 10px;
    font-weight: bold;
    color: #053318;
}

#extra > h3{
    background-color: #1B5936;
    color: white;
    padding-left: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#extra > p {
    padding: 10px;
}

main section{
    padding: 5px 10px 0px 10px;
    margin-bottom: 10px;
}


footer{
    color: white;
    background-color: #1B5936;
   
}

footer > p {
    text-align: center;
    padding-bottom: 0px;
}