@charset "UTF-8";

body{
    background-color: #d7ff4880;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #0d3841;
    
}
h2{
    color: #506266;
    text-decoration: underline;
    
    
}
#principal {
    background-color: #0d3841;
    color: #d7ff4880;
    text-align: center;
}

.basico{
    color: #385a10;
}

.intermediario{
    color: #88860e;
}

.avancado{
    color: #530f0f;
}